<footer>
    <h2>Starte deine Entspannungsreise!</h2>
    <p>Kontaktiere mich und wir finden gemeinsam das passende Angebot für dich.</p>
    <div id="footer-contacts">
        <div class="footer-contact-elem">
            <i class="fa fa-envelope-o"></i><a href="mailto:%69%6e%66%6f%40%61%74%65%6c%69%65%72%2d%65%6e%74%73%70%61%6e%6e%75%6e%67%2e%63%68">&#105;&#110;&#102;&#111;&#64;&#97;&#116;&#101;&#108;&#105;&#101;&#114;&#45;&#101;&#110;&#116;&#115;&#112;&#97;&#110;&#110;&#117;&#110;&#103;&#46;&#99;&#104;</a>
        </div>
            <div class="footer-contact-elem">
            <i class="fa fa-phone"></i><a href="tel:%2b%34%31%20%37%36%20%34%35%34%20%30%33%20%31%30">&#43;&#52;&#49;&#32;&#55;&#54;&#32;&#52;&#53;&#52;&#32;&#48;&#51;&#32;&#49;&#48;</a>
        </div>
    </div>
    <!-- <img src="/images/logo-white-with-text.svg"> -->

    <br>

    <div class="flex" style="width: 80vw; text-align: center;"><a href="/AGB">AGB</a>
    <a href="/datenschutz">Datenschutz</a>
    <a href="/impressum">Impressum</a></div>
</footer>