<header>
    <nav id="desktopNav">
        <div id="navigation-list">
        <div class="menu" id="home">
            <a href="/">Körperglück</a>
        </div>

        <div class="menu" id="entspannung">
            <a>Entspannung</a>
            <div class="sub">
                <a href="/methods">med. Entspannungsmethoden</a>
                <a href="/beratung">Beratung</a>
                <a href="/courses">Kurse</a>
            </div>
        </div>

        <span></span>
        <div class="menu" id="performanceCoaching">
            <a>Auftrittscoaching</a>
            <div class="sub">
                <a href="/pep">PEP</a>
                <a href="/coursesPerformance">Coaching</a>
            </div>
        </div>
        <div class="menu" id="about">
            <a href="/about">Über&nbsp;mich</a>
        </div>
        </div>
        <span id="kringelContainer"><img id="kringel" src="/images/logo.svg" style="height: 2em;"></span>
    </nav>

    <nav id="mobileNav">
        <div id="mobileNavContent">
            <h4><a href="/">Körperglück</a></h4>
            
            <h4>Entspannung</h4>
            <div class="sub">
                <a href="/methods">med. Entspannungsmethoden</a>
                <a href="/beratung">Beratung</a>
                <a href="/courses">Kurse</a>
            </div>
            
            <h4>Auftrittscoaching</h4>
            <div class="sub">
                <a href="/pep">PEP</a>
                <a href="/coursesPerformance">Coaching</a>
            </div>
            
            <h4><a href="/about">Über&nbsp;mich</a></h4>
            <br>
            <div class="mobileToggle" id="mobileOff" onclick="document.getElementById('mobileNavContent').style.display='none'; document.getElementById('mobileOn').style.display='block';"><i class="fa fa-bars" aria-hidden="true"></i></div>
        </div>
        <div class="mobileToggle" id="mobileOn" onclick="document.getElementById('mobileNavContent').style.display='block'; document.getElementById('mobileOn').style.display='none';"><i class="fa fa-bars" aria-hidden="true"></i></div>
    </nav>
</header>