#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em 2em;
    min-height: 40vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-bottom: 2em;
}

#title img {
    height: 4em;
    max-width: 50vw;
}

#title h2 {
    font-size: 2.5em;
    margin: 0;
}

@media (max-width: 600px) {
    #title {
        min-height: 20vh;
    }
    #title h2 {
        font-size: 1.5em;
    }
}