header {
    padding: 1em;
}

header a {
    color: #686868;
}

#navigation-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 85vw;
    margin: 0 auto;
}

#navigation-list a {
    font-family: "Lora", serif;
    font-size: 1.25em;

}

@media (max-width: 600px) {
    #navigation-list {
        flex-direction: column;
        width: 100%;
        align-items: flex-begin;
    }
}