.smallBlock {
    background-color: #FFF;
    /* padding: 1em; */
    text-align: center;
    min-width: 200px;
    margin: 1em 0 !important;
    border-radius: 10px;
}

.smallBlock p {
    margin: 1em;
}